@model Cosmechic.Models.OrderHeader

@{
    ViewData["Title"] = "Suppression de commande";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
}

<section class="py-5">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>
<hr />

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h1 class="m-0 font-weight-bold" style="color: darkblue">Supprimer la commande</h1>
            </div>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Êtes-vous sûr de vouloir supprimer votre commande ?</h3>

            <dl class="row">
                <dt class="col-sm-4">Numéro de commande</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-4">Nom du client</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-4">Date de la commande:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.OrderDate)</dd>

                <dt class="col-sm-4">Total de la commande</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.OrderTotal) $</dd>

                <dt class="col-sm-4">Statut de la commande</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.OrderStatus)</dd>

                <dt class="col-sm-4">Statut du paiement</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PaymentStatus)</dd>

                <dt class="col-sm-4">Numéro de suivi</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TrackingNumber)</dd>
            </dl>
        </div>
        <form asp-action="Delete" class="mt-4">
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-secondary" asp-action="Index">Annuler</a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </form>
    </div>
</div>
